.foot{
    background-color: rgb(224, 151, 151);
  padding: 10px;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconix{
    padding: 5px;
}
.iconix:hover{
    color: hotpink;
}