.foot {
  background-color: rgb(224, 151, 151);
  padding: 10px;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons a {
  padding: 8px;
}
.icons a:hover {
  animation: spinAround 2s linear infinite;
}

.icons a:hover {
  background: rgb(255, 255, 255);
  color: #363636;
  border-radius: 18px;
}

@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
